@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&family=Noto+Sans+JP&display=swap');

body{
background-color: #f7e8d9;
padding: 8px;
}

p, a{
color:#0c0702;
font-family: 'Noto Sans JP', sans-serif;
}

ul, ol{
color:#0c0702;
font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6{
color:#0c0702;
font-family: 'IBM Plex Serif', serif;
}

blockquote {
  background: #faf2e9;
  border-left: 5px solid #403f3e;
  margin: 0.3em 7px;
  padding: 0.2em 7px;
  quotes: "\201C""\201D""\2018""\2019";
}

pre {
  background: #ebebeb;
  border-left: 5px solid #403f3e;
  margin: 0.3em 7px;
  padding: 0.2em 7px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 15px;
}

table {
    border-collapse: collapse;
}
table td {
     border: 3px solid black;
}

th, tr{
font-family: 'Noto Sans JP', sans-serif;
}
