/*@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
	margin: 0;
	background-color: #f7e8d9;
	font-family: 'Lato', serif;
	font-size: 20px;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	border-bottom: 5px solid white;
	height: 90px;
	font-family: 'Lato', sans-serif;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  height: 100px;
  padding-top: 36px;
  color: #000000;
  text-decoration: underline 0.1em rgba(0, 0, 0, 255);
  transition: text-decoration-color 300ms;
}

#title {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 20px;
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
}

#subtitle {
	padding-top: 40px;
	font-size: 20px;
}

.r {
	float: right;
}

.l {
	float: left;
}

ul.nav li a:hover:not(.active) {
	text-decoration-color: rgba(255, 255, 255, 1);
	cursor:pointer;
}

ul.nav li a.active {
	background-color: #04AA6D;
}

#content {
	padding: 50px;
	padding: 20px 15%;
	border-top: 50px solid white;
	box-shadow: 200px 200px 200px 200px black;
	color: #ffffff;
	font-size: 22px;
	line-height: 30px;
}

h1 {
	margin: 500px 0 50px 50px;
	font-size: 100px;
}

img, audio, video {
display: block;
  margin-left: auto;
  margin-right: auto;
}
